@{
    ViewData["Title"] = "Details";
}
@model Burialmain
    <!-- ======= Breadcrumbs ======= -->
    <br />
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container-fluid">

            <div class="row justify-content-center">
                <br />
                <div class="col-xl-10">
                    <ol>
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="DisplayList">Return to List</a></li>
                    </ol>
                    <h2>Details</h2>
                </div>
            </div>


        </div>
    </section><!-- End Breadcrumbs -->
    <div class="container">



        <div class="card card-outline-primary m-2 p-2">
            <div class="bg-light p-1">
                <h4>
                    Mummy Details for Burial #@ViewBag.Record.Burialnumber
                </h4>
            </div>
            <br />

            <div class="container">
                <h6 class="row">General Information</h6>
                <div class="row">
                    <div class="col-3">Date of Excavation: @ViewBag.Record.Dateofexcavation</div>
                    <div class="col-3">Fieldbook Year: @ViewBag.Record.Fieldbookexcavationyear</div>
                    <div class="col-3">Data Expert: @ViewBag.Record.Dataexpertinitials</div>
                    <div class="col-3">Recorder: @ViewBag.Record.Excavationrecorder</div>

                </div>
                <br />
                <h6 class="row">Geographical Location</h6>
                <div class="row">Area: @ViewBag.Record.Area</div>
                <div class="row">
                    <div class="col-3">North South: @ViewBag.Record.Northsouth</div>
                    <div class="col-3">Square North South: @ViewBag.Record.Squarenorthsouth</div>
                    <div class="col-3">East West: @ViewBag.Record.Eastwest</div>
                    <div class="col-3">Square East West: @ViewBag.Record.Squareeastwest</div>

                </div>
                <br />
                <h6 class="row">Direction to Head</h6>
                <div class="row">
                    <div class="col-3">South: @ViewBag.Record.Southtohead</div>
                    <div class="col-3">West: @ViewBag.Record.Westtohead</div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                </div>
                <br />
                <h6 class="row">Direction to Feet</h6>
                <div class="row">
                    <div class="col-3">South: @ViewBag.Record.Southtofeet</div>
                    <div class="col-3">West: @ViewBag.Record.Westtofeet</div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                </div>
                <br />
                <h6 class="row">Measurement</h6>
                <div class="row">
                    <div class="col-3">Depth: @ViewBag.Record.Depth</div>
                    <div class="col-3">Length: @ViewBag.Record.Length</div>
                    <div class="col-3"></div>
                    <div class="col-3"></div>
                </div>
                <br />
                <h6 class="row">Body Details</h6>
                <div class="row">
                    <div class="col-2">Sex: @ViewBag.Record.Sex</div>
                    <div class="col-2">Age at Death: @ViewBag.Record.Ageatdeath</div>
                    <div class="col-2">Adult: @ViewBag.Record.Adultsubadult</div>
                    <div class="col-2">Hair Color: @ViewBag.Record.Haircolor</div>
                    <div class="col-2">Hair: @ViewBag.Record.Hair</div>

            
                </div>
            <br />
            <h6 class="row">Preservation Info</h6>
            <div class="row">
                <div class="col-3">Face Bundle: @ViewBag.Record.Facebundles</div>
                <div class="col-3">Wrapping: @ViewBag.Record.Wrapping</div>
                <div class="col-3">Preservation: @ViewBag.Record.Preservation</div>
                <div class="col-3">Burial Materials: @ViewBag.Record.Burialmaterials</div>
            </div>
            <div class="row">
                <form method="get" asp-controller="Home" asp-action="AddTextile">
                    <input type="hidden" name="Id" value="ViewBag.Record.Id" />
                    <button type="submit">Add Textile</button>
                </form>
                </div>
                
            </div>
        </div>
    </div>
