@{

}

@model MummyViewModel

<div>

    <div>
        <a class="btn btn-sm btn-danger" asp-controller="Home" asp-action="AddEntry">Add a Mummy</a>
    </div>

    @foreach (Burialmain m in Model.Mummies)
    {
        <div class="card card-outline-primary m-2 p-2">
            <div class="bg-light p-1">
                <h4>Title Something</h4>
            </div>
            <div>
                <ul>
                    <li>@m.Id</li>
                    <li>@m.Sex</li>
                    <li>@m.Depth</li>
                    <li>
                        <form method="post" asp-page-handler="Remove">
                            <input type="hidden" name="Id" value="@m.Id" />
                            <!--Return URL <input type="hidden" name="returnUrl" value=" at model ReturnUrl"-->
                            <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                        </form>
                    </li>
                    <li>
                        <form>
                            <input type="hidden" name="Id" value="@m.Id" />

                            <button type="submit" class="btn btn-sm">Edit</button>
                        </form>
                    </li>
                    <li>
                        <form method="get" asp-controller="Home" asp-action="AddTextile">
                            <input type="hidden" name="Id" value="@m.Id" />

                            <button type="submit" class="btn btn-sm">Add Textile</button>
                        </form>
                    </li>

                </ul>

                <form method="get" asp-controller="Home" asp-action="Details">
                    <input type="hidden" name="Id" value="@m.Id" />
                    <button type="submit" class="btn btn-sm">View Details</button>
                </form>
                <!-- <a asp-controller="Home" asp-action="Textile" asp-route-Id="@m.Id">View Associated Textile</a>-->
            </div>
        </div>
        
    }
    <div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" class="btn-group pull-right m-1 pagecenter"></div>
</div>
